*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 320px;
}

main {
  padding-top: 80px;
}

@media screen and (max-width: 767px) {
  main {
    padding-top: 60px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.adress {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 15px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .footer .container {
    flex-wrap: nowrap;
  }
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
  .section.professional {
    padding-bottom: 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo-web {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header .logo-web {
  padding-top: 26px;
  padding-bottom: 26px;
}

.footer .logo-web {
  margin-bottom: 20px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header .logo-web {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15385;
    letter-spacing: 0.03em;
    color: #2196f3;
  }
  .header .logo-web {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.logo-studio-light-theme {
  color: #000000;
}

.logo-studio-dark-theme {
  color: #ffffff;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin-left: auto;
  margin-right: auto;
}

.footer .social-list-item:not(:last-child) {
  margin-right: 10px;
}

.team .social-link, .footer .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team .social-link {
  background-color: #ffffff;
}

.team .social-link:hover, .team .social-link:focus {
  background-color: #2196f3;
}

.team .social-svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team .social-link:hover .social-svg,
.team .social-link:focus .social-svg {
  fill: #ffffff;
}

.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-link:hover, .footer .social-link:focus {
  background-color: #2196f3;
}

.footer .social-svg {
  fill: #ffffff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 3;
  background-color: #ffffff;
}

.border-portfolio {
  border-bottom: 1px solid #ececec;
}

.navigation-list-link,
.header-contacts-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover, .navigation-list-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #2196f3;
}

.header-contacts-icon-mail, .header-contacts-icon-phone {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link:hover .header-contacts-icon-mail,
.header-contacts-link:focus .header-contacts-icon-mail,
.header-contacts-link:hover .header-contacts-icon-phone,
.header-contacts-link:focus .header-contacts-icon-phone {
  fill: #2196f3;
}

.menu-btn {
  display: inline-flex;
  border: none;
  background-color: transparent;
}

.menu-btn .icon-close-menu {
  display: none;
}

.menu-btn.is-open .icon-close-menu {
  display: block;
}

.menu-btn.is-open .icon-open-menu {
  display: none;
}

.icon-open-menu,
.icon-close-menu {
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn:hover .icon-open-menu,
.menu-btn:focus .icon-open-menu, .menu-btn:hover
.icon-close-menu,
.menu-btn:focus
.icon-close-menu {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .header {
    height: 60px;
  }
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    padding-top: 40px;
    padding-bottom: 52px;
    width: 100%;
    height: 393px;
    background-color: #ffffff;
    border-top: 1px solid #ececec;
    text-align: center;
  }
  .menu-container.is-open {
    display: block;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .navigation-list-link {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .header-contacts {
    margin-top: 32px;
  }
  .header-contacts-link {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .current {
    padding-bottom: 12px;
    color: #2196f3;
  }
  .current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts-mail {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
  .menu-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding-left: 88px;
  }
  .navigation-list {
    display: flex;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14286;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .header-contacts-link {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14286;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .current {
    padding-bottom: 0;
    color: #2196f3;
  }
  .current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    align-items: center;
  }
  .header-contacts-phone {
    margin-left: 30px;
  }
  .header-contacts-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.filter-list {
  display: flex;
}

.filter-list-item {
  margin-right: 8px;
}

.filter-list-btn {
  display: inline-block;
  min-width: 128px;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  background-color: #f5f4fa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list-btn:hover, .filter-list-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-list-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-list-link:hover, .works-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-thumb {
  position: relative;
  overflow: hidden;
}

.works-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-overlay-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.works-list-link:hover .works-overlay {
  transform: translateY(0);
}

.works-description {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.works-description-title {
  margin-bottom: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.works-description-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .filter-list {
    flex-wrap: wrap;
    margin-bottom: -15px;
    margin-right: -8px;
  }
  .filter-list-item {
    margin-bottom: 15px;
  }
  .works-list {
    margin-top: 40px;
  }
  .works-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .works-overlay {
    padding-top: 77px;
    padding-bottom: 77px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filter-list {
    justify-content: center;
  }
  .works-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .works-list-item {
    width: 354px;
  }
  .works-list-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .works-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .works-list-item:last-child {
    margin-right: 0;
  }
  .works-overlay {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    justify-content: center;
  }
  .works-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  .works-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .works-list-item:nth-last-child(n + 4) {
    margin-bottom: 30px;
  }
  .works-overlay {
    padding-top: 62px;
    padding-bottom: 62px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  text-align: center;
}

.footer-title {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-contacts-list-item {
  margin-bottom: 8px;
}

.footer-contacts-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-link:hover, .footer-contacts-link:focus {
  color: #2196f3;
}

.footer-contacts-link-map {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-link-map:hover, .footer-contacts-link-map:focus {
  color: #2196f3;
}

.footer-form-input {
  padding-left: 16px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
}

.footer-form-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-btn {
  display: flex;
  align-items: center;
  min-width: 200px;
  padding: 10px 28px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.footer-form-btn::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../images/send.svg);
  background-size: contain;
}

@media screen and (max-width: 767px) {
  .footer-contacts, .footer-social {
    margin-bottom: 60px;
  }
  .footer-form-input {
    margin-bottom: 20px;
  }
  .footer-form-btn {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-contacts, .footer-social {
    flex-basis: 50%;
  }
  .footer-subscription {
    margin-top: 60px;
  }
  .footer-form-input {
    width: 450px;
    margin-bottom: 20px;
  }
  .footer-form-btn {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
  .footer-subscription {
    width: 50%;
    margin-right: 0;
    margin-left: auto;
  }
  .footer-contacts {
    margin-right: 70px;
  }
  .footer-contacts-list-item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer-contacts-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71429;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-contacts-link:hover, .footer-contacts-link:focus {
    color: #2196f3;
  }
  .footer-contacts-link-map {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71429;
    letter-spacing: 0.03em;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-contacts-link-map:hover, .footer-contacts-link-map:focus {
    color: #2196f3;
  }
  .footer-form {
    display: flex;
    justify-content: space-between;
  }
  .footer-form-input {
    padding-left: 16px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    color: #ffffff;
  }
  .footer-form-input::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-form-btn {
    display: flex;
    align-items: center;
    min-width: 200px;
    padding: 10px 28px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: #2196f3;
    cursor: pointer;
  }
  .footer-form-btn::after {
    content: "";
    display: inline-block;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-image: url(../images/send.svg);
    background-size: contain;
  }
}
/*# sourceMappingURL=portfolio.css.map */