.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-dark-theme;
  text-align: center;
  &-title {
    margin-bottom: 20px;
    @include font-style(
      $main-font,
      $font-weight-bold,
      $font-size-text,
      16px,
      $letter-spacing-text,
      $secondary-text-color-dark-theme
    );
    text-transform: uppercase;
  }
}

.footer-contacts {
  &-list-item {
    margin-bottom: 8px;
  }
  &-link {
    @include font-style(
      $main-font,
      $font-weight-normal,
      $font-size-text,
      $line-height-text,
      $letter-spacing-text,
      $secondary-text-color-dark-theme-transparent
    );
    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &-link-map {
    @include font-style(
      $main-font,
      $font-weight-normal,
      $font-size-text,
      $line-height-text,
      $letter-spacing-text,
      $secondary-text-color-dark-theme
    );
    transition: color 250ms $timing-function;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.footer-form {
  &-input {
    padding-left: 16px;

    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    color: $secondary-text-color-dark-theme;
    &::placeholder {
      @include font-style(
        $main-font,
        $font-weight-normal,
        16px,
        20px,
        $letter-spacing-text,
        $secondary-text-color-dark-theme-transparent
      );
    }
  }
  &-btn {
    display: flex;
    align-items: center;
    min-width: 200px;
    padding: 10px 28px;

    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    @include font-style(
      $main-font,
      $font-weight-bold,
      16px,
      30px,
      0.06em,
      $secondary-text-color-dark-theme
    );
    background-color: $accent-color;
    cursor: pointer;
    &::after {
      content: "";
      display: inline-block;
      margin-left: 10px;
      width: 24px;
      height: 24px;
      background-image: url(../images/send.svg);
      background-size: contain;
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    &-contacts,
    &-social {
      margin-bottom: 60px;
    }
  }
  .footer-form {
    &-input {
      margin-bottom: 20px;
    }
    &-btn {
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    &-contacts,
    &-social {
      flex-basis: 50%;
    }
    &-subscription {
      margin-top: 60px;
    }
  }
  .footer-form {
    &-input {
      width: 450px;
      margin-bottom: 20px;
    }
    &-btn {
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
    &-subscription {
      width: 50%;
      margin-right: 0;
      margin-left: auto;
    }
  }

  .footer-contacts {
    margin-right: 70px;

    &-list-item:not(:last-child) {
      margin-bottom: 9px;
    }

    &-link {
      @include font-style(
        $main-font,
        $font-weight-normal,
        $font-size-text,
        $line-height-text,
        $letter-spacing-text,
        $secondary-text-color-dark-theme-transparent
      );
      transition: color 250ms $timing-function;

      &:hover,
      &:focus {
        color: $accent-color;
      }
    }

    &-link-map {
      @include font-style(
        $main-font,
        $font-weight-normal,
        $font-size-text,
        $line-height-text,
        $letter-spacing-text,
        $secondary-text-color-dark-theme
      );
      transition: color 250ms $timing-function;
      &:hover,
      &:focus {
        color: $accent-color;
      }
    }
  }

  .footer-form {
    display: flex;
    justify-content: space-between;
    &-input {
      padding-left: 16px;
      width: 358px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 4px;
      background-color: transparent;
      color: $secondary-text-color-dark-theme;
      &::placeholder {
        @include font-style(
          $main-font,
          $font-weight-normal,
          16px,
          20px,
          $letter-spacing-text,
          $secondary-text-color-dark-theme-transparent
        );
      }
    }
    &-btn {
      display: flex;
      align-items: center;
      min-width: 200px;
      padding: 10px 28px;
      border: none;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      @include font-style(
        $main-font,
        $font-weight-bold,
        16px,
        30px,
        0.06em,
        $secondary-text-color-dark-theme
      );
      background-color: $accent-color;
      cursor: pointer;
      &::after {
        content: "";
        display: inline-block;
        margin-left: 10px;
        width: 24px;
        height: 24px;
        background-image: url(../images/send.svg);
        background-size: contain;
      }
    }
  }
}
