.team {
  background-color: $background-light-theme;
}

.team-list {
  &-item {
    background-color: $secondary-text-color-dark-theme;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &-description {
    padding: 30px 32px 24px 32px;
  }

  &-title {
    margin-bottom: 10px;
    @include font-style(
      $main-font,
      500,
      16px,
      19px,
      $letter-spacing-text,
      $title-color
    );
    text-align: center;
  }
  &-text {
    margin-bottom: 16px;
    @include font-style(
      $main-font,
      500,
      16px,
      19px,
      $letter-spacing-text,
      $primary-text-color
    );
    text-align: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .team-list {
    &-item {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    &-item {
      &:nth-child(2n + 1) {
        margin-right: 30px;
      }
      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    &-item {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
