*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  font-family: $main-font;
  min-width: 320px;
}
main {
  padding-top: 80px;
}

@media screen and (max-width: 767px) {
  main {
    padding-top: 60px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.adress {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 15px;
  .header & {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and(min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    .footer & {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;

    .footer & {
      flex-wrap: nowrap;
    }
  }
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
    &.professional {
      padding-bottom: 0;
    }
  }
}
