$main-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;
$primary-text-color: #757575;
$title-color: #212121;
$accent-color: #2196f3;
$secondary-text-color-light-theme: #000000;
$secondary-text-color-dark-theme: #ffffff;
$secondary-text-color-dark-theme-transparent: rgba(255, 255, 255, 0.6);
$placeholder-text-color: rgba(117, 117, 117, 0.5);
$background-dark-theme: #2f303a;
$background-light-theme: #f5f4fa;
$icon-fill: #afb1b8;
$background-color-accent-trasparent: rgba(33, 150, 243, 0.9);
$background-color-backdrop: rgba(0, 0, 0, 0.2);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-size-text: 14px;
$line-height-text: 24px;
$letter-spacing-text: 0.03em;
